[Unit]
Description=MLMOS homework 1 linux config service
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/yum -y install git
ExecStart=/usr/bin/git clone https://github.com/LucianCumpata/CentOS7_Config.git /bootstrap_config
ExecStart=/bootstrap_config/bootstrap.sh

[Install]
WantedBy=multi-user.target
